.main-footer {
    @include row;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 147px;
    background-color: $grayDark;

    .footer-container {
        @include container;
        @include row;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        font-size: 25px;
        line-height: 50px;
        color: $persian;

        .footer-contacts {
            @include row;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            width: auto;
            height: 100%;
            //flex: 1;

            .link__footer-phone:hover {
                color: $white;
            }
        }

        .footer-social-container {
            @include row;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: auto;
            height: 100%;
            min-width: 50px;
            //flex: 1;

            .btn__social {
                width: 55px;
                height: 55px;
                margin-right: 10px;
                border: none;
                color: $persian;

                &:last-child {
                    margin-right: 0;
                }

                .social-svg {
                    width: 53px;
                    height: 53px;
                }
            }

            .btn__social__instagram {
                background: url("../images/icon__instagram.svg") no-repeat;

                &:hover {
                    background: url("../images/icon__instagram__hover.svg") no-repeat;
                }
            }

            .btn__social__vk {
                background: url("../images/icon__vk.svg") no-repeat;

                &:hover {
                    background: url("../images/icon__vk__hover.svg") no-repeat;
                }
            }

            .btn__social__facebook {
                background: url("../images/icon__facebook.svg") no-repeat;

                &:hover {
                    background: url("../images/icon__facebook__hover.svg") no-repeat;
                }
            }

            .btn__social__viber {
                background: url("../images/icon__viber.svg") no-repeat;

                &:hover {
                    background: url("../images/icon__viber__hover.svg") no-repeat;
                }
            }
        }

        .footer-address-container {
            @include row;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            //flex: 1;
            width: auto;
            height: 100%;
            max-width: 242px;
        }
    }
}
