.latestProjects {
    @include container;
	@include row;
	flex-direction: column;
	justify-content: center;
	align-items: center; 
    width: 100%;
    height: auto;
    padding: 80px 0;

    .categories {
        @include row;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;

        .btn__category {
            color: $grayLight;
            border: 1px solid rgba(0,0,0, 0.1);
            padding: 5px 25px;
            margin-right: 10px;
            font-size: 14px;

            &:last-child {
                margin-right: 0;
            }

            &:hover, &:active {
                color: $white;
                background-color: $sand;
            }
        }
    }

    .latestProjects-container {
        margin-bottom: 40px;

        .latestProject-item {
            height: 338px;
            margin-bottom: 30px;
            

            .latestProject-image {                
                height: 238px;
                background-color: $grayAshed;
            }

            .latestProject-desc {
                background-color: $milk;
                height: calc(100% - 253px);

                .latestProject-caption {
                    color: $sandLight;
                }

                .latestProject-category-container {
                    @include row;
                    flex-direction: row;
                    justify-content: flex-statr;
                    align-items: flex-start;
                    color: $clayWhite;

                    .link__latestProject-category {
                        color: $clayWhite;
                        margin-left: 4px;

                        &:first-child {
                            margin-left: 0;
                        }
                    }
                }

                &:before {
                    content: '';
                    position: relative;
                    top: -25px;
                    left: -10px;
                    width: 0px;
                    height: 0px;
                    border-left: 15px solid transparent;
                    border-right: 15px solid transparent;
                    border-bottom: 10px solid $milk;  
                }
            }

            &:hover {
                background-color: rgba(47,47,47, 0.7);

                .latestProject-image {
                    z-index: -1;
                    background-color: $grayDarker;
                }

                .latestProject-desc {
                    background-color: $brown;

                    .latestProject-caption {
                        color: $white;
                    }

                    .latestProject-category-container,
                    .link__latestProject-category {
                        color: $sand;
                    }

                    &:before {
                        border-bottom: 10px solid $brown;
                    }
                }
            }
        }
    }    
}