// COLORS
$white: #ffffff;
$whiteAshed: #f8f8f8;
$milk: #fbfaf8;
$cream: #f1eee9;

$sandLight: #c7b299;
$sand: #998675;
$sandDarker: #a48d72;
$sandDark: #736357;
$brownLight: #615855;
$brown: #362f2d;

$gradStart: #211b19;
$gradEnd: #4e3427;

$sliderBack: #555556;
$sliderArrow: #a2a19f;
$sliderArrow__hover: #d3c1ad;
$sliderPoint: #919194;

$linkInterior: #00bff3;
$linkExternal: #959595;

$clayWhite: #d1d1d1;
$grayLight: #8c8c8c;
$grayAshed: #777777;
$gray: #555555;
$grayDarker: #363636;
$grayDark: #252525;
$wetAsphalt: #191919;
$black: #111111;

// FONTS
$roboReg: 'Roboto Regular', Arial, sans-serif;
$montULight: 'Montserrat Ultra Light', Arial, sans-serif;
$montLight: 'Montserrat Light', Arial, sans-serif;
$montReg: 'Montserrat Regular', Arial, sans-serif;
$raleReg: 'Raleway Regular', Arial, sans-serif;
$raleMed: 'Raleway Medium', Arial, sans-serif;
$raleBold: 'Raleway Bold', Arial, sans-serif;
$raleSemi: 'Raleway SemiBold', Arial, sans-serif;
$raleExtra: 'Raleway ExtraBold', Arial, sans-serif;
