// COLORS
$white: #ffffff;
$whiteAshed: #f8f8f8;
$milk: #fbfaf8;
$cream: #f1eee9;

$persian: #feb29a;
$orange: #fe7f1c;
$orangeDarker: #fd7e1f;

$clayWhite: #d1d1d1;
$grayLight: #8c8c8c;
$grayAshed: #777777;
$gray: #555555;
$grayDarker: #4e4e4e;
$grayDark: #464646;
$wetAsphalt: #424242;
$black: #000000;

// FONTS
$roboReg: 'Roboto Condensed Regular', Arial, sans-serif;